@charset "utf-8";
/*---------------------Header---------------------------*/
#header {
	height: 150px;
	padding-top:20px;
	background-color:#FFFF99;
	bottom: 150px; 
}
#logo{
	float:left;
	margin-bottom:15px;
	margin-left:50px;
}
#divtitle{
	height: 130px;
	margin-left:180px;
	margin-right:50px;
	background-color:#FFFF33;
}
#title{
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	left:130px;
}
#subtitle{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	left:130px;	
	margin-top:-10px;  
}
#subtitle2{
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	left:130px;	
	margin-top:-10px; 
	margin-bottom:15x;
}
/*---------------------Body---------------------------*/
#body{
	margin-left:50px;
	margin-right:50px;
	background-color:#FFFFFF; 
	height : 600px;
}
/*---------------------Footer-------------------------*/
#footer{
	margin-bottom:auto;
	background-color:#FFFF99; 
	height : 60px;
	padding-top:10px;
}
#logofooter{
	float:right;
	margin-bottom:15px;
	margin-right:50px;
}
#titlefooter{
	float:right;
	margin-right :20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}
